html {
    --white: #ffffff;
    --blue: #5b4bf0;
    --forest: #7584db;
    --brick: #8c3333;

    background-color: #616161;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

main,
h1 {
    padding: 0 1rem;
}

.tab-wrap,
#shirt-color-form {
    background-color: #1740af;
    display: flex;
    padding: .5rem;
}

.tab {
    padding: 1rem;
    background-color: #9490ca;
}

a,
button,
label {
    color: #e03376;
    text-decoration: none;
    font-weight: bold;
}

input[type="radio"] {
    display: none;
}

a:hover,
button:hover,
label:hover {
    color: #ff0000;
    text-decoration: wavy underline;
    cursor: pointer;
}

img {
    max-width: 100%;
}

figure {
    position: relative;
    width: fit-content;
}

figcaption {
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    bottom: .5rem;
    width: calc(100% - 1rem);
    color: white;
    background-color: rgba(54, 1, 1, 0.5);
    padding: 0.5rem;
}

button {
    border: none;
}

.details-article {
    display: none;
}

.details-article.active {
    display: block;
}

fieldset {
    border: none;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff0000;
}

svg#shirt {
    fill: blue;
}